{% extends "layout.html" %}

{% block content %}
    
<script>
    let popular_movies = {{popular_movies|tojson}} 
</script>

<div class="hero-header position-relative text-white text-center">
    <div class="hero-overlay"></div> 
    <div class="hero-content">
        <h1 class="fw-bold">Best of Bollywood</h1>
        <p class="lead">
            Discover Bollywood’s Best! Whether you're a lifelong fan or just starting out, explore top-rated movies, 
            trending hits, and old hidden gems—all with detailed ratings and insights to help you pick your next watch.
        </p>
    </div>
</div>


<div id="index-title">
    <h3> Popular Picks for Today</h3>
</div>

<div id="pop-movie-container"></div>

{% endblock %}